form{
  width: 400px;
  position: absolute;
  left: 80px;
  top: 190px;
}
legend{
  color: white;
  text-transform: uppercase;
}
input, textarea{
  background-color: white;
  border-radius: 15px;
  width: 375px;
}
input{
  height: 20px;
}
input[type='submit']{
  height: 40px;
  width: 100px;
  background-color: darkgrey;
  color: black;
}
